/**********************************************
Toolbar
***********************************************/
body.toolbar{
  padding-top:0px!important;
}
#toolbar{
  position: relative;
  box-shadow: none;
  padding:0px!important;
  margin:0px!important;

  .toolbar-menu{
    background-color: #434c52 !important;
    padding:10px 20px!important;
  }

  .toolbar-drawer, .toolbar-toggle-processed{
    display:none;
  }

  @media #{$medium-only}, #{$small-only}{
    #toolbar-menu{
      display:none;
    }
  }   
}

/*****************************************
Base Here
*****************************************/