/**********************************************
Toolbar
***********************************************/
body.toolbar{
  padding-top:0px!important;
}
#toolbar{
  position: relative;
  box-shadow: none;
  padding:0px!important;
  margin:0px!important;

  .toolbar-menu{
    background-color: #434c52 !important;
    padding:10px 20px!important;
  }

  .toolbar-drawer, .toolbar-toggle-processed{
    display:none;
  }

  @media #{$medium-only}, #{$small-only}{
    #toolbar-menu{
      display:none;
    }
  }   
}

/*****************************************
Header
*****************************************/
#header{
  border-bottom:1px solid #99b7d8;
  box-shadow: 1px 1px 0 #87a9cc;
  padding:0 20px 12px;

  .logo-wrapper{
    margin-top:16px;
  }
    
  h1{
    margin:0;
    a:first-child{
      display: inline-block;
    }
    .site-name{
      display:none;
    }
  }

  @media #{$large-up}{
    height:106px;
  }

  @media #{$medium-only}{
    .logo-wrapper{
      margin-right:26px;
      margin-top:14px;
      width: 230px;
    }
  }
  @media #{$small-only}{
    .logo-wrapper{
      margin-right:26px;
    }
  }
}

// Top Menu & Burger Menu
.logged-in .top-menu-icon{
  top: 78px;
}
.top-menu-icon{
  position: absolute;
  right: 11px;
  top: 28px;
  cursor: pointer;

  span{
    color:$darkBlue;
    text-transform: uppercase;
    font-size: 0.72222rem;
    font-weight: bold;
    width:24px;
    height:20px;
    display: inline-block;
    cursor: pointer;
  }

  span:after{
    content: "";
    position: absolute;
    display: block;
    height: 0;
    top: 2PX;
    margin-top: 0;
    right: 5PX;
    box-shadow: 0 0 0 1px $darkBlue, 0 7px 0 1px $darkBlue, 0 14px 0 1px $darkBlue;
    width: 16px;
  }
}

// Navigation
.navs{
  .menu, .top-search{
    float:right;
    display:inline-block;
  }
  .menu{
    ul{
      margin:0;
      padding:0;
    }
    li{
      float:right;
      display:inline-block;
      margin-left:2px;
    }
    a{
      height:34px;
      line-height:34px;
      padding:0 12px 0 36px;
      font-size:0.775rem;
      display:block;
      border-radius: 0 0 5px 5px;
      color:white;
      background:url('../img/icon_helpdoc.png') no-repeat 10px center;;

    }

    .menu-finding-doc{
      background-color:darken($blue, 6%);
    }
    .menu-what-is-pcn{
      background-color:$green;
    }
  }

  @media #{$large-up}{
    .menu {
      li {margin-left:5px;}
      a{ font-size:0.875rem; }
    }
  }
}

// Top Search
.top-search{
  position:relative;

  input[type=text], .btn-search{
    margin:0;
  }
  input[type=text]{
    border-radius: 0 0 5px 0;
    padding-right: 110px;
    height:34px;
    display: block;
    position: absolute;
    color:#919191;
    border:1px solid #d9e9f3;
  }
  .arrow-right{
    height: 34px;
    width: 34px;
    position:absolute;
    left:0;
    top:0;
    z-index: 9;
    border-radius: 0 0 5px 5px;
    background: #408DC5 url('../img/icon_search.png') no-repeat 10px center;

    &:hover{
      opacity:.8;
    }
  }

  .btn-search{
    padding: 0 0 0 35px;
    font-size: 0.875rem;
    display: inline-block;
    height: 34px;
    line-height: 34px;
    border-radius: 0 0 5px 5px;
    color: #FFF;
    background: #408DC5 url('../img/icon_search.png') no-repeat 10px center;
    text-align: left;
    width: 101px;
    float: right;
  }

  &.active{
    .arrow-right{
      border: 1px solid #d9e9f3;
      border-radius: 0;
      background: rgb(236, 248, 255) url('../img/icon-arrow-left-dark-ii.png') no-repeat 10px center;
      width: 30px;
    }
  }

  .small-3.columns{
    float:right;
  }

  .form-item, .form-actions, .columns{
    margin:0;
    padding:0;
  }

  @media #{$xlarge-up}{
    &{ width:440px; }
    .arrow-right{display:none;}
  }

  @media #{$large-up}{
    .arrow-right{display:none;}
  }          

  @media #{$large-only}{
    &{ width:280px; }
  }

  @media #{$medium-only}{
    .arrow-right{
      display:block;
    }
    input[type=text]{
      display:none;
    }
    &.active{
      .btn-search{
        right: -318px;
      }
      input[type=text]{
        font-size: 13px;
        width: 353px;
        padding-right: 10px;
        display:block;
        padding-left: 37px;
      }
    }
  }

  @media #{$small-only}, #{$medium-only}{
    .btn-search{
      width:20px;
    }
  }
}

.form-item-search label{
  display:none;
}

// Need Care
.need-care{
  clear:right;
  text-align:right;
  h2{
    color:$red;
  }

  a:hover{
    color:darken($darkBlue, 10%);
  }

  h2{
    margin-top: 14px;
    font-size:1rem;
    font-weight: bold;
    margin-bottom:0;
    padding:0;
  }
  p{
    font-size:.813rem;
    margin-bottom:0;
    padding:0;
    color:$darkBlue;
  }

  @media #{$medium-only}{
    h2, p{
      display:inline-block;
    }
  }
}

/*****************************************
Welcome
*****************************************/
#welcome-section{
  background:url('../img/bg-welcome-map.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  box-shadow: 1px 1px 5px #cacaca;


  // Height Detection
  @media screen and ( max-height: 709px ){
    &{
      height:auto!important;
    }

    .wrap1{
      top: auto!important;
      height:auto!important;
    }
  }

  @media #{$large-up}{
    .wrap1{
      position:relative;
      top: 50%;
    }
  }

}

// Welcome & Address
.wl-summary, .your-address{
  padding-top: 30px;
  border-bottom: 1px solid #cacaca;

  h2{
    color: $darkBlue;
    font-size:28px;
    font-weight:bold;
  }

  h3, .lbl-add, .large-text-center{
    font-size:16px;
    font-weight:bold;
    color:$darkBlue;
  }
  p, li{
    font-size: .9em!important;
    margin-bottom: 16.6px;
  }

  // Height Detection
  @media screen and ( max-height: 709px ){
    &{
      margin-top: 0!important;
    }
  }

  @media #{$large-up}{
    &{
      padding-bottom: 30px;
      height:438px;
      border-top:1px solid $lightGrey;
      border-bottom:1px solid $lightGrey;
      margin-top: -250px;

      .ie9 &,.ie8 &{
        margin-top:0;
      }
    }
    .ctn-summary, & > form{
      max-width:620px;

      &.ctn-summary{
        float:right;
        padding-right: 30px
      }
    }

    & > form{
      float:left;
      padding-left: 30px;
    }
  }
  @media #{$small-only}, #{$medium-only}{
    &.wl-summary{
      padding-bottom:60px;
    }
  }
  @media #{$small-only}{
    &{
      padding-left:0;
      padding-right:0;
    }
  }
}

// Welcome Summary
.wl-summary{
  background:rgba(255, 255, 255, 0.5);
  hr{
    margin-bottom: 1.1875rem;
  }
  .policy{
    p{
      font-size:11px;
      margin: -5px 0 0;
    }
  }
}


.your-address{
  position:relative;
  background:rgba(77, 184, 68, 0.1);

  hr{
    border-color:$green;
  }

  form{
    .divider {
      position:relative;
      text-align: center;
      display:inline-block;
      margin-bottom: 10px;
    }
    .input-add {
      border-color:$darkBlue;
      height:40px;
    }
    .errMsg{
      position:absolute;
      top:7px;
      left:50%;
      margin-left: -145px;
      width: 290px;
    }
  }

  @media #{$large-up}{
    hr:last-child{
      margin-top: 42px;
    }
    .divider{
      top:10px;
    }
  }
}

#addresslat, #addresslng {
  display:none;
}

.form-gender, .form-age{
  @media #{$small-only}{
    &{
      width:100%;
    }
    &.form-gender{
      margin-bottom: 18px;
    }
    &.form-gender div{
      width:33.33%
    }
    &.form-age div{
      width:25%
    }
  }
}

.find-loc-wrapper{
  position:relative;
  width: 100%;
  @media #{$small-only}{
    width:230px;
    margin:0 auto;
  }
}

.spinner-small{
  position: absolute;
  right: 5px;
  top: 9px;
  z-index: 1;
  width: 20px;
}

.btn-find-my-loc{
  padding-top:0px!important;
  padding-bottom:0px!important;
  height:40px;
  line-height: 40px;
  width:100%;
  background:$blue;
  &:before{
    content: " ";
    position:relative;
    top:3px;
    background:url('../img/icon-location.png') no-repeat center center;
    display: inline-block;
    width: 19px;
    height: 19px;
    margin-right: 8px;
  }
  &:hover, &:active, &:focus, &[disabled], &[disabled]:hover{
    background:lighten($blue, 3%);
  }

  @media #{$small-only}{
    width:100%;
    margin:0 auto;
  }
}

.btn-go{
  width: 230px;
  height:41px;
  line-height: 41px;
  padding:0!important;
}

.optl{
  font-size: 0.6em;
  margin: 0 10px;
}
.get-started{
  color: $green;
}

.help-finding {
  width: 230px;
  height:41px;
  line-height: 41px;
  margin:0 auto;
  padding:0!important;
  background-color:#4db844;
  display:block;
}


.orDivider{
  width: 50px;
  height: 50px;
  background: white;
  font-weight: bold;
  color:$green;
  border-radius: 50%;
  position: absolute;
  right: 0;
  margin-right: -25px;
  margin-top: -25px;
  display: block;
  z-index: 999;
  text-align: center;
  line-height: 50px;
  top: 50%;
  border: 1px solid $green;

  .spinner{
    position: absolute;
    left: 2px;
    top: 2px;
  }

  @media #{$small-only}, #{$medium-only}{
    &{
      top:auto;
      right: 50%;
      bottom: -25px;
    }
  }
}

/*****************************************
Footer
*****************************************/
#footer{
  padding-top: 19px;
}

.footerlogo, .footerMenu{
  margin-bottom:10px;
}

.footerlogo{
  span{
    color:$darkBlue;
    font-size: 14px;
    font-weight: bold;
    margin-right: 10px;
  }
  img{
    margin:0 4px;
  }

  @media #{$small-only}{
    span{
      clear:both;
      display:block;
    }
  }
  @media #{$small-only}, #{$medium-only}{
    &{
      text-align: center;
    }
  }
}

.footerMenu{
  ul{
    display:block;
    margin:0;
    padding:0;

    li{
      list-style-type:none;
      display:inline-block;
      text-align: right;
      margin-left:5px;
      margin-right:5px;
    }
    a{
      font-size:12px;
    }

    a:hover, a:active, a.active{
      color:lighten(#408dc5, 10%);
    }
  }
  .copyright p{
    color: $lightGrey;
    font-size:11px;
  }

  @media #{$large-up}{
    &{
      text-align: right;
    }
    li{
      margin-left:15px;
    }
    .copyright p{
      text-align: right;
    }
  }
  @media #{$small-only}, #{$medium-only}{
    &{
      text-align: center;
    }
  }
}

/*****************************************
Disclaimer
*****************************************/
.registration-form .disclaimer{
  input {
    float:left;
  }
  label{
    float:left;
    margin-left: 32px;
    top:-31px;
    position:relative;
  }

  .submit{
    display:inline-block;
    margin-bottom:30px!important;
  }
}


/*****************************************
Container Shadow
*****************************************/
.contShadow{
  box-shadow: 1px 1px 5px #cacaca;
}

.pad-bottom{
  padding-bottom: 10px;
}

/*****************************************
All Clinics
*****************************************/
.all-clinics{
  padding-left: 44px;
  padding-right: 53px;
  left: 5px;
  margin-top: -20px;
  margin-bottom: 22px;

  .slick-list{
    padding-top: 20px;
  }

  div{
    margin-right:10px;

    .num{
      float: left;
    }
    .link{
      position: absolute;
      left: 0;
      top: 0;
      bottom: 0;
      right: 0;
      width:100%;
      height:84px;
      background-color: white;
      display:block;
      z-index: 99;
      cursor: pointer;
      opacity: .01;
    }
    .accepting-lbl{
      background: $grey;
      float: right;
      color: white;
      font-size: 0.688rem;
      padding: 7px 10px 4px;
      border-radius: 4px;
      position: absolute;
      left: 37px;
      top: -20px;
    }
  }

  //  button
  button{
    margin-bottom: 0;
    position: absolute;
    top: 50%;
    margin-top: -7px;
    text-indent: -2000px;
    overflow:hidden;
    width:38px;
    height:38px;
    background-color:$blue;
    background-repeat: no-repeat;
    background-position: center;
    padding:0;
    outline: none;
    border-radius: 4px;

    &.slick-prev{
      left:0px;
      background-image:url('../img/icon-arrow-left.png');
    }
    &.slick-next{
      right:17px;
      background-image:url('../img/icon-arrow-right.png');
    }

    &.slick-disabled{
      cursor: default;
      background-color:lighten($blue, 20%);
    }

    &:not(.slick-disabled){
      &:hover{
        background-color:darken($blue, 20%);
      }
    }
  }
}

/*****************************************
Sliders
*****************************************/
.sliders{
  max-width: 100%;
  height: 108px;
  overflow: hidden;
  display:block;
  margin-bottom: 20px;
  padding-top: 20px;
  position: relative;

  > div{
    margin-bottom: 6px;
  }

}
.hideSlider{
  height:0;
  margin-top: -6px;
  overflow: hidden;
}

.show-accepting{
  background:$blue;
  float:right;
  color:white;
  font-size:0.688rem;
  padding: 7px 10px 4px;
  border-radius:4px;
  margin-right:30px;
  margin-top:-40px;
  @include transition(all 0.2s);

  &.fadeOut{
    opacity:0.3;
  }

  &:hover{
    color:white;
    background:darken($blue, 10%);
  }

  @media #{$small-only}, #{$medium-only}{
    margin-right:0;
  }

  @media (max-width: 390px) {
    float: none;
    margin: 0 auto;
    position: relative;
  }
}

/*****************************************
Maps
*****************************************/
.mapsClinics{
  padding:0!important;
}

.icon-my-location{
  z-index: 99999!important;
}

/*****************************************
Maps Options
*****************************************/
.mapsOpt{
  margin-top: -31px;
  z-index: 9999;

  .marTop {
    margin-top: -60px;
    margin-bottom: 8px;
  }

  @media #{$medium-up}{
    & > .medium-5{
      max-width:250px;
    }
  }
  @media #{$small-only}{
    margin-top:-45px;
  }

}

.km-opt{
  width: 100%;
  margin-bottom: 12px;
  select{
    color:white;
    background-color:$green;
    border-color:darken($green, 20%);
    border-radius: 4px;
    margin-bottom:0;
  }
}

.change-location{
  width: 100%;
  position:relative;
  background-color: $blue;
  border-color: darken($blue, 10%);
  border-style: solid;
  border-width: 1px;
  border-radius: 4px;

  a{
    height: 2.3125rem;
    color: white;
    line-height: 23px;
    padding: 0.5rem;
    font-size: 0.875rem;
    display:block;
    text-align: center;
  }

  .errMsg{
    position: absolute;
    top: -35px;
    width: 248px;
  }

  .btn-change-add{
    z-index: 1;
    cursor: pointer;
    border: none;
    width: 72px;
    float: right;
    position: absolute;
    right: 0;
    top: 0;
    padding-top: 7px;
    height: 2.3125rem;
    font-size: 0.8em;
    border-radius:0 4px 4px 0px !important;
    background-color: lighten($blue, 8%);

    &:hover{
      background-color: darken($blue, 8%);
    }
  }

  .spinner {
    width: 22px;
    position: absolute;
    right: 2px;
    top: 7px;
  }

  .pop-input {
    position: absolute;
    right: -268px;
    top: 0;
    width: 265px;

    input {
      border-radius: 4px;
      margin-bottom: 0;
    }
  }


  @media #{$small-only}{
    .pop-input {
      position: absolute;
      right: 0;
      top: -50px;
      width: 100%;
    }
  }
}

.pcn-list{

  ul{
    background: rgba(255, 255, 255, 0.96);
    margin:0;
    padding:0;
    border-radius: 4px;
    text-align: center;
  }
  li{
    display: inline-block;
    font-size:.76rem;
    margin-right: 10px;

    &:first-child{

      &:before{
        display:none;
      }
    }

    &:before{
      display:block;
      float:left;
      margin-right:2px;
      width:10px;
      height:10px;
      content: ' ';
      position:relative;
      top:3px;
      border-radius: 2px;
    }
    &.lbl{
      font-weight:bold;
      color: $blue;
    }
    &.pcn-bow:before{
      background-color: $green;
    }
    &.pcn-foothills:before{
      background-color: $violet;
    }
    &.pcn-rural:before{
      background-color: $aqua;
    }
    &.pcn-west:before{
      background-color: $ltYellow;
    }
    &.pcn-high:before{
      background-color: $ltPink;
    }
    &.pcn-mosaic:before{
      background-color: $plRed;
    }
    &.pcn-south:before{
      background-color: $plBlue;
    }
  }
  @media #{$large-up}{
    &{
      height: 1.9125rem;
    }
    li:first-child{
      margin-left: 10px;
    }
  }
  @media #{$small-only}, #{$medium-only}{
    &{
      margin-bottom:15px;
    }
    &, ul{
      clear:both;
      float:none!important;
      text-align:left!important;
    }
  }

  @media #{$small-only}{
    margin-top: 54px;
  }
}

/*****************************************
Maps & clustering
*****************************************/
#maps{
  height:500px;
  @media screen and ( max-height: 777px ){
    &{
      height:500px!important;
    }
  }
  .marker-cluster{
    z-index: 999!important;
  }
}


/*****************************************
Clinic Details
*****************************************/
.clinic-data{
  margin-top: 1px;
}

#maps-clinic{
  height:250px;
}

.btn-num-hidden, .btn-view-pcn, .btn-show-map{
  padding:5px 18px;
  display:inline-block;
  border-radius: 4px;
  margin-right:5px;
  margin-bottom: 10px;
}

.btn-num-hidden, .btn-show-map{
  border:1px solid $darkBlue;
}

$percentData : 10%;
.page-title, .pcnTitle{
  &.pcn-bvpcn, &.pcn-bow{color : darken($green, $percentData)!important;}
  &.pcn-cfpcn, &.pcn-foothills{color : darken($violet, $percentData)!important;}
  &.pcn-crpcn, &.pcn-rural{color : darken($aqua, $percentData)!important;}
  &.pcn-cwcpcn, &.pcn-west{color : darken($ltYellow, $percentData)!important;}
  &.pcn-hpcn, &.pcn-high{color : darken($ltPink, $percentData)!important;}
  &.pcn-mpcn, &.pcn-mosaic{color : darken($plRed, $percentData)!important;}
  &.pcn-scpcn, &.pcn-south{color : darken($plBlue, $percentData)!important;}
}
.btn-view-pcn{
  color:white;
  border:1px solid $lightGrey;

  &:hover, &:active, &:focus{color:white;}
  &.pcn-bvpcn, &.pcn-bow{background-color : darken($green, $percentData)!important;}
  &.pcn-cfpcn, &.pcn-foothills{background-color : darken($violet, $percentData)!important;}
  &.pcn-crpcn, &.pcn-rural{background-color : darken($aqua, $percentData)!important;}
  &.pcn-cwcpcn, &.pcn-west{background-color : darken($ltYellow, $percentData)!important;}
  &.pcn-hpcn, &.pcn-high{background-color : darken($ltPink, $percentData)!important;}
  &.pcn-mpcn, &.pcn-mosaic{background-color : darken($plRed, $percentData)!important;}
  &.pcn-scpcn, &.pcn-south{background-color : darken($plBlue, $percentData)!important;}
}

.cl-info{
  h2{
    margin-bottom:0px;
  }
  h3{
    font-size:1.125rem;
    color:#919191;
    margin-bottom: 0;
  }

  .wrapper{

  }

  .columns{
    margin-bottom:15px;
  }
  ul {
    list-style: none;
    margin:0;
  }
  li{
    font-size:.9em;
  }

  @media #{$small-only}, #{$medium-only}{
    &, .columns{
      padding:0!important;
    }
  }
}

.pt-info{
  margin-bottom:30px;
  h3{
    font-size:1.125rem;
  }
  .comp-accepting-new-Pt{margin-bottom:30px;}
  .pt-ttl-active{color:$darkBlue}
  .pt-ttl-not{color:$grey}

  .clinic-II &{
    padding-top:30px;
  }
}

hr.marTop{
  margin-top: 0;
}

.office-hours{
  .time{
    padding-left:0;
  }
}

@media #{$small-only}, #{$medium-only}{
  .clinic-II{
    .comp-padding-left-none{
      padding-right:0!important;
    }

    .pt-info:first-child{
      padding-top:0;
    }

    .pt-info:last-child{
      padding-top:0px;
    }

    .clinic-data{
      padding-left: 0.9375rem;
      padding-right: 0.9375rem;
    }
  }
}

/*****************************************
Clinic Modal
*****************************************/
#mapModal{
  width:600px;
  h2{
    margin-bottom: 6px;
    margin-top: 0;
    border: none;
    text-align: center;
  }
  h3{
    font-size: 16px;
    margin-bottom: 10px;
    display: inline-block;
    clear:both;
  }
  @media #{$medium-only}{
    width:80%;
  }
  @media #{$small-only}{
    width:100%;
  }
}

/*****************************************
Search Filter
*****************************************/
.search-filters{
  position: relative;
  padding-left: 1.5375rem;
  padding-right: 1.5375rem;
  color:darken($grey, 30%);
  .wrap1{
    text-align: center;
    margin-bottom: 12px;
  }
  .wrap1 > div{
    display: inline-block;
    position: relative;
    @include transition(top 0.2s);
  }

  .wrap2{
    height:0;
    &:after{
      content:' ';
      display:inline-block;
    }
  }
  .lbl{
    text-align: left;
    margin-right:2px;
    margin-bottom: 5px;
    position: relative;
    top:2px;
  }
  select{
    padding-right: 30px;
    border-radius: 4px;
    color: white;
    background-color: #7aca73;
    border-color: #439c3b;
    border-radius: 4px;
    margin-bottom: 8px;
  }

  .genderSelect, .langSelect,.accptSelect{
    width:20%;
    margin-right:5px;
  }

  hr{
    margin-top:0;
  }
  @media #{$large-up}{
    .sticky{
      width:21%;
      top:10px;
      margin:0;
      position: fixed;
    }
  }
  @media #{$small-only}, #{$medium-only}{
    &{
      padding-left:0.9375rem;
      padding-right:0.9375rem;
    }
    .wrap1 > div{
      width:100%;
    }
    .wrap2{
      display:none;
    }
  }
}

/*****************************************
Search Clinic
*****************************************/
.search-clinic{
  .columns{
    margin-bottom:1.5em;
  }

  .pt-ttl{
    color: #0067b1!important;
    font-size: 1.125rem;
  }

  .not-accepting-new-Pt .large-6{
    opacity: 0.3;
  }
}

/*****************************************
Paging / Pagination
*****************************************/
$lightYellow: #f9faed;

.pager {
  padding: 13px 0 9px!important;
  margin:0 0 1.7em!important;
  color:$grey;
  text-align: center;
  border-top: 1px solid lightgrey;
  border-bottom: 1px solid lightgrey;

  .pagination {
    display:inline-block;
  }

  li.pager-item,
  li.pager-current {
    margin: 0;
    padding: 0;
  }
  li.pager-current {
    padding: 0.5rem;
  }

  li {
    font-size:.9em;
    color: #008cba;

    a {
     color: #adadad;
     padding: 0.5rem 0.75rem;
     // border: 1px solid lightgrey;

     &:hover {
      color: #008cba;
      background: $lightYellow;
      background: rgba($lightYellow, 0.5);
     }
    }
  }

  .pager-first,
  .pager-last {
    display: none!important;
  }

  .pager-previous,
  .pager-next {
    padding:0!important;
    margin:0!important;

    &.pager-previous {
      float:left;
    }

    &.pager-next{
      float:right;
    }
  }

  @media #{$small-only}, #{$medium-only}{
    li{
      margin:0!important;
    }
  }

  @media #{$small-only}{
   .pager-previous , .pager-next{
    float: none!important;
   }
  }
}

/*****************************************
Form Finding Doctor
*****************************************/
.form-finding-doctor{
  padding-top: 1px;
}

/*****************************************
PCN Page
*****************************************/
.pcn-logo{
  margin:0 20px 12px 0;
}

#map-pcn-page{
  width: 100%;
  height:400px;
  margin-bottom:20px;
}


/*****************************************
Wait Time
*****************************************/
.waittime {
    text-align: center;
    border: 1px solid #54B847;
    border-radius: 5px;
    box-shadow: 0 1px 1px rgba(84, 184, 71, 0.25);
    margin-bottom: 20px;

  .waittime-heading {
      padding: 5px 0;
      border-bottom: 1px solid #C3E6BF;
      font-size: 15px;
      font-weight: 600;
      color: #54B847;
      background: #E6F5E4;
      border-top-left-radius: 5px;
      border-top-right-radius: 5px;
  }

  .waittime-pcn {
      padding: 6px 0 3px;
      font-size: 14px;
  }

  .waittime-days {
      padding: 0 0 10px;
      font-size: 32px;
      font-weight: 400;
      color: #54B847;
  }
}

/*****************************************
Form Errors
*****************************************/
.form-item input.error, .form-item textarea.error, .form-item select.error {
  margin-bottom: 1rem!important;
}

/*****************************************
Registration
*****************************************/
.registration-form{
  h3{
    font-size:1.0875rem!important;
    color:darken($green, 10%);
  }
  input, select, textarea, button{
    border-radius:4px;
  }
  .form-item{
    margin:0;
    padding:0;
  }
  .form-section{
    border-top:solid 1px #dddddd;
    margin-top: 1.25rem;
    padding-top: 1.25rem;
  }
  .form-item-maternity-care{
    float:left;
    margin-bottom: 10px;
    input{margin-bottom: 0!important;}
  }
  .date_of_birth .container-inline .form-item{
    width: 33.33333%;
    float: left;

    &:nth-child(2){
      padding:0 0.5rem;
    }
  }
  .description{
    font-size: 0.8em;
    margin-top: -10px;
    display: block;
    margin-bottom: 1rem;
  }
}

.required{
  color:inherit;
  display:inline-block;
}

/*****************************************
Search Page
*****************************************/
.page-s{
  position:relative;
  .row.comp-panel{
    @media #{$small-only}, #{$medium-only}{
      padding-left:0;
      padding-right:0;
    }
  }

  // Overwrite gBox -> component.css
  .comp-gBox{
    padding-bottom: 6px!important;
  }
}

/*****************************************
Contact Form
*****************************************/
#webform-client-form-230{
  input, select, textarea{
    border-radius: 4px;
  }

  .form-submit{
    @extend .button;
    border-radius: 4px;
  }

  .description{
    color:$grey;
  }
}

/*****************************************
Off Canvas
*****************************************/
body .off-canvas-list {
  margin: 0 10px;

  ul {
    margin:0;
    list-style-type:none;
  }
}
.right-off-canvas-menu {

  .menu-506 {
    display: none;
  }

  li {
    border-bottom: 1px solid #559ED3;
  }

  .intranet-loggedin,
  a {
    color: #d4edff;
    padding: 0 5px 8px;
    margin: 10px 5px 0;
    display: block;
    font-size: 0.9rem;
    text-align: left;

    &:hover {
      color: darken($white, 10%);
    }

    &.active {
      color: $white;
    }
  }
}

.not-logged-in{
  .intranet-loggedin a{
    text-align: center;
    background-color: $blue;
    padding-top: 9px;
    color:white;
    @include transition(all 0.2s);

    &:hover{
      background-color: darken($darkBlue, 20%);
      opacity: .4;
    }
  }
}

.logged-in {
  .intranet-loggedin {
    text-transform: capitalize;
    padding: 0 5px 15px;
    text-indent: 10px;
    color:white;

    a {
      padding-top: 5px;
      margin-left:0;
      text-align: left;
      border-top: 1px solid #559ED3;
      color:white;

      &:hover{
        opacity: .7;
      }
    }
  }

  // hide login link when user is logged in
  .menu-506 {
    display: none;
  }

  // hide urgent text in mobile nav when logged in
  .urgent-care {
    display: none;
  }
}

$urgent-red:  #cc0000;
$urgent-blue:  #008cba;
.urgent-care {
  color: $urgent-blue;

  h2 {
    color: $urgent-red;
  }
  p,
  a {
    color: $urgent-blue;
  }
}

.urgent-care--mobile {
  padding: 1rem;
  background: #408dc5;
  color: $white;
  font-size: 1rem;
  background: darken($off-canvas-bg, 10%);

  p {
    font-size: 0.75rem;
    color: $white;
    margin-bottom: 0;
  }

  h2 {
    font-size: 1rem;
  }
  h2,
  a {
    color: $white;
    margin: initial;
    padding: initial;
  }
  a {
    display: inline;
    font-size: inherit;

    &.no-break {
      white-space: nowrap;
    }
  }
}

.mobile-search{
  position:relative;

  .arrow-right{
    display:none;
  }

  .small-12, .small-3{
    padding:0;

    &.small-3{
      width:40px;
      position:absolute;
      right:0;
      top:10px;
    }
  }

  .form-item, .form-actions{
    margin-top:0;
    padding:0;
    margin-bottom: 5px;
  }

  input[type=text], .btn-search{
    height: 37px;

  }
  input[type=text]{
    margin-top: 10px;
    margin-bottom: 5px;
    font-size:12px;
    padding-right: 50px;
  }
  .btn-search{
    background: #408DC5 url('../img/icon_search.png') no-repeat 10px center;
    padding:0;
    margin-bottom: 0;
    width: 40px;
    display:inline-block;
    font-size:0;
    text-indent: -200px;
    overflow: hidden;
  }

  .form-item-search small{
    color: white;
    font-size: 10px;
    position: relative;
    top: -7px;
    height: 0;
    padding: 0;
    opacity: 0.7;
  }
}

/*****************************************
Content Tabs / l-tabs
*****************************************/
.l-tabs{

  ul{
    border-bottom: none;
    background-color: #ECECEC;
    height:27px!important;
    margin:0;
    padding:0;
    overflow:hidden;
  }
  li{
    margin:0;
    padding:0;
  }
  li a{
    padding: 6.6px 2.2em 5px!important;
    font-size: 13px!important;
    margin-right: -0.5em!important;
    position: relative;
    top: 5px;
  }
}

/*****************************************
User Profile
*****************************************/
.page-user .profile{
  $fontSize : 14px;
  margin-top: 0;
  & h3:first-child{
    display: none;
  }
  h3{
    margin-top: 30px;
  }
  dt, .field{ clear:left; }
  dt, dd, .field-label, .field-item{
    font-size: $fontSize;
  }

  @media #{$medium-up}{
    dt, dd, .field-label{
      float:left;
      margin-right:10px;
      margin-bottom: 6px;
    }
    dt,.field-label{
      width: 210px;
    }
  }

  @media #{$small-only}{
    .field-items{
      margin-bottom: 8px;
    }
  }
}


/*****************************************
Contact Form
*****************************************/
#webform-client-form-230 {
  @include grid-column($columns:6, $center:true);
  padding-left: 0;

  @media #{$small-only}{
    @include grid-column($columns:12, $center:true);
    padding:0!important;
  }
}
/*****************************************
User Login
*****************************************/
#user-login, #user-pass{
  #edit-name, #edit-pass{
    margin-bottom: 1px;
  }
  .description{
    font-size:11px;
    font-style: italic;
    color:$grey;
  }
  .form-submit{
    @extend .button;
    border-radius: 4px;
  }

  @media #{$medium-up}{
    width: 470px;
    margin: 0 auto;
  }
}

// override hidden fields so change map lopcation works in ie8
.ie8-hidden-field {
  visibility: hidden;
}