/*****************************************
Text Color
*****************************************/
.clr-pcn-bvpcn{color : $green!important;}
.clr-pcn-cfpcn{color : $violet!important;}
.clr-pcn-crpcn{color : $aqua!important;}
.clr-pcn-cwcpcn{color : darken($ltYellow, 8%)!important;}
.clr-pcn-hpcn{color : $ltPink!important;}
.clr-pcn-mpcn{color : $plRed!important;}
.clr-pcn-scpcn{color : $plBlue!important;}

/*****************************************
Button Effect
*****************************************/
.btn-effect{
  text-shadow: -1px -1px 0 rgba(0, 0, 0, 0.13);
  border-radius:5px;
  display:inline-block;
  color:white;
  background:$darkGreen;
  text-align: center;
  padding:10px 15px 7px;
  @include transition(all 0.2s);

  &:hover, &:active, &:focus, &[disabled], &[disabled]:hover{
    color:white;
    background:lighten($darkGreen, 3%);
  }
}

/*****************************************
Custom radio button
*****************************************/
.comp-radio{
  clear:both;
  display: table; /* optional */
  @include border-left-radius(5px);

  div{
    border-top:1px solid $blue;
    border-bottom:1px solid $blue;
    border-right:1px solid $blue;
    display: table-cell;
    vertical-align: middle;
    margin:0;
    background: white;
    float:left;
    text-align: center;
    border-left: none;

    &:first-child{
      border-left:1px solid $blue;
      @include border-left-radius(5px);
    }

    &:last-child{
      border-right:1px solid $blue;
      @include border-right-radius(5px);
    }

    label{
      margin: 0;
      padding:9px 8px;
      font-size: 0.75rem;
      width:100%;
      color:$darkBlue;
      @include transition(all 0.2s);
    }

    input[type=radio]{
      display:none;

      &:checked + label{
        background-color:$blue;
        text-shadow: -1px -1px 0 rgba(0, 0, 0, 0.13);
        color:white!important;
      }
    }
  }
}


/*****************************************
Global Color Box
*****************************************/
.comp-gBox{
  padding:10px 16px 4px 39px;
  position:relative;
  border:1px solid #cacaca;
  border-radius: 4px;

  .ttl, .add, .pcn-name{
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
  }

  .ttl{
    font-size:1rem;
    font-weight: bold;
    margin-bottom: 0;
  }
  .add{
    color:darken($grey, 20%);
    font-size: .9rem;
    margin-bottom:2px;
  }  
  .pcn-name{
    color:darken($grey, 20%);
    font-size: 0.65rem;
    margin-bottom: 5px;
    text-transform: uppercase;
    font-weight: bold;
  }

  .num{
    background: #cacaca;
    position:absolute;
    width:30px;
    left:0;
    top:0;
    bottom:0;
    padding: 23px 0 0 11px;
    @include border-left-radius(3px);
  }

  &.disable{
    display:none!important;
  }

  &.pcn-bow, &.pcn-bvpcn, &.bvpcn{
    $color : $green;
    border-color:$color;
    h3, h3 a{ color:darken($color, 30%);  }

    .num{
      color:darken($color, 20%);
      background:lighten($color, 25%);
    }
    .pcn-name{
      color:darken($color, 20%);
    }
  }
  &.pcn-foothills, &.pcn-cfpcn, &.cfpcn{
    $color : $violet;
    border-color:$color;
    h3, h3 a{ color:darken($color, 30%);  }
    .num{
      color:darken($color, 20%);
      background:lighten($color, 19%);
    }
    .pcn-name{
      color:darken($color, 20%);
    }
  }
  &.pcn-rural, &.pcn-crpcn, &.crpcn{
    $color : $aqua;
    border-color:$color;
    h3, h3 a{ color:darken($color, 30%);  }
    .num{
      color:darken($color, 20%);
      background:lighten($color, 28%);
    }
    .pcn-name{
      color:darken($color, 20%);
    }
  }
  &.pcn-west, &.pcn-cwcpcn, &.cwcpcn{
    $color : $ltYellow;
    border-color:$color;
    h3, h3 a{ color:darken($color, 30%);  }
    .num{
      color:darken($color, 20%);
      background:lighten($color, 15%);
    }
    .pcn-name{
      color:darken($color, 20%);
    }
  }
  &.pcn-high, &.pcn-hpcn, &.hpcn{
    $color : $ltPink;
    border-color:$color;
    h3, h3 a{ color:darken($color, 30%);  }
    .num{
      color:darken($color, 20%);
      background:lighten($color, 21%);
    }
    .pcn-name{
      color:darken($color, 20%);
    }
  }
  &.pcn-mosaic, &.pcn-mpcn, &.mpcn{
    $color : $plRed;
    border-color:$color;
    h3, h3 a{ color:darken($color, 30%);  }
    .num{
      color:darken($color, 20%);
      background:lighten($color, 24%);
    }
    .pcn-name{
      color:darken($color, 20%);
    }
  }
  &.pcn-south, &.pcn-scpcn, &.scpcn{
    $color : $plBlue;
    border-color:$color;
    h3, h3 a{ color:darken($color, 30%);  }
    .num{
      color:darken($color, 20%);
      background:lighten($color, 20%);
    }
    .pcn-name{
      color:darken($color, 20%);
    }
  }
}

/*****************************************
Custom Panel
*****************************************/
.comp-panel{
  margin-bottom: 1.25rem;
  padding-left: 1.25rem;
  padding-right: 1.25rem;
  @include clearfix();
}


/*****************************************
Doctor Accepting and not Accepting
*****************************************/
.comp-accepting-new-Pt, .comp-not-accepting-new-Pt{
  div{
    &.gender-Male, &.gender-Female,
    &.gender-male, &.gender-female{
      margin-bottom: 8px;
    }
    &.gender-Male:before, &.gender-Female:before,
    &.gender-male:before, &.gender-female:before{
      content: " ";
      position:relative;
      top:1px;
      display: inline-block;
      width: 23px;
      height: 23px;
      margin-right: 8px;
      background-color: transparent;
      background-position: center;
      background-repeat: no-repeat;
      float:left;
    }

    &.gender-Male:before, &.gender-male:before{
      background-image:url('../img/icon-male.png');
    }
    &.gender-Female:before, &.gender-female:before{
      background-image:url('../img/icon-female.png');
    }
  }


  h4{
    font-size:1rem;
    margin-bottom: 3px;
  }

  .specialty, .language{
    font-size:0.750rem;
    color:darken($grey, 10%);
    display: block;
    padding-left: 32px;
  }

  // if not accepting new patients
  &.comp-not-accepting-new-Pt{
    opacity: .6;
  }
}


/*****************************************
Full Row
*****************************************/
.comp-full-row {
  max-width: 100%;
}

/*****************************************
Maps Pins & Marker
*****************************************/
.pin-marker{
  width:27px;
  height:47px;
  text-align:center;
  color:white;
  font-size:14px;
  font-weight:bold;
  padding-top:2px;
  text-shadow: 0px -1px 0 rgba(0, 0, 0, 0.28);
}

@each $pinName in cwcpcn , hpcn , cfpcn , crpcn , scpcn , mpcn , bvpcn{
  .marker-#{$pinName} {
    background-image: url('../img/marker-#{$pinName}.png');
    background-repeat:none;
  }
}


/*****************************************
Bubble Design
*****************************************/
.bble-wrap{
  margin-bottom:0px;
  &.pcn-bow{
    $color : $green;
    border-color:$color;
    h5, a{  color:darken($color, 30%);  }

    .bble-pcn{
      color:darken($color, 20%);
    }
  }
  &.pcn-foothills{
    $color : $violet;
    border-color:$color;
    h5, a{  color:darken($color, 30%);  }
    .bble-pcn{
      color:darken($color, 20%);
    }
  }
  &.pcn-rural{
    $color : $aqua;
    border-color:$color;
    h5, a{  color:darken($color, 30%);  }
    .bble-pcn{
      color:darken($color, 20%);
    }
  }
  &.pcn-west{
    $color : $ltYellow;
    border-color:$color;
    h5, a{  color:darken($color, 30%);  }
    .bble-pcn{
      color:darken($color, 20%);
    }
  }
  &.pcn-high{
    $color : $ltPink;
    border-color:$color;
    h5, a{  color:darken($color, 30%);  }
    .bble-pcn{
      color:darken($color, 20%);
    }
  }
  &.pcn-mosaic{
    $color : $plRed;
    border-color:$color;
    h5, a{  color:darken($color, 30%);  }
    .bble-pcn{
      color:darken($color, 20%);
    }
  }
  &.pcn-south{
    $color : $plBlue;
    border-color:$color;
    h5, a{  color:darken($color, 30%);  }
    .bble-pcn{
      color:darken($color, 20%);
    }
  }
}

.bble-name{
  margin-bottom: 0;
}

.bble-par, .bble-pcn{
  margin-top: 0!important;
  margin-bottom: 0!important;
}

.bble-par{
  font-size: 0.9rem;
  margin-bottom:0!important;
  color:#7a7a7a;
}

.bble-pcn{
  font-size: 0.65rem;
  text-transform: uppercase;
  font-weight: bold;
}


/*****************************************
Side Nav
*****************************************/
.comp-side-nav{
  margin: 0 0 20px;
  padding: 0;
  list-style: none;

  li{
    margin: 0 0 -1px;
    padding: 0;
    list-style: none;
    position: relative;
    background: lighten($blue, 46%);
    border: 1px solid lighten($blue, 30%);
    box-shadow: 0 1px 1px rgba(87, 153, 203, 0.1);

    &.active, &:hover{
      background:white;
      border: 1px solid lighten($blue, 10%);
      z-index: 1;
    }
  }

  li:first-child{
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
  }

  li:last-child{
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
  }

  a{
    font-size: 15px;
    padding: 10px 20px;
    display: block;
    }

}

/*****************************************
Side Legend
*****************************************/
.comp-side-legend{
  border: 1px solid lighten($blue, 30%);
  box-shadow: 0 1px 1px rgba(87, 153, 203, 0.1);
  margin:0 0 20px;
  padding:0;
  border-radius: 4px;
  list-style: none;

  .list{
    a{
      display: block;
      padding:7px 20px;
      font-size:.9em;

      &:before{
        @include transition(all 0.2s);
        display:block;
        float:left;
        margin-right:10px;
        width:10px;
        height:10px;
        content: ' ';
        position:relative;
        top:5px;
        z-index: 3;
        border-radius: 2px;
      }

      &:hover:before{
        margin-left:2px;
      }
    }

    &:first-child a{
      padding-top: 16px;
    }
    &:last-child a{
      padding-bottom: 16px;
    }

    &.bvpcn a:before{
      background-color: $green;
    }
    &.cfpcn a:before{
      background-color: $violet;
    }
    &.crpcn a:before{
      background-color: $aqua;
    }
    &.cwcpcn a:before{
      background-color: $ltYellow;
    }
    &.hpcn a:before{
      background-color: $ltPink;
    }
    &.mpcn a:before{
      background-color: $plRed;
    }
    &.scpcn a:before{
      background-color: $plBlue;
    }
  }

}

/*****************************************
Page Title
*****************************************/
.comp-img-radius{
  border-radius:4px;
  border: 1px solid lighten($blue, 30%);
}

/*****************************************
Paddings
*****************************************/
.comp-padding-left-none{
  padding-left:0;
}

/*****************************************
Page Title
*****************************************/
.page-title{ font-size: 1.625rem; }
.page-title-II{ font-size:2.45rem; }

.page-title, .page-title-II{
  color: #7aca73;
  margin: 21px 0 25px;
  border-bottom: 1px solid lightgrey;

  &.setMargin{
    margin-left:30px;
    margin-right:30px;
  }

  &.setMarginZero{;
    margin-bottom: 5px;
  }

  &.pcn-bvpcn, &.bvpcn{color : $green;}
  &.pcn-cfpcn, &.cfpcn{color : $violet;}
  &.pcn-crpcn, &.crpcn{color : $aqua;}
  &.pcn-cwcpcn,&.cwcpcn{color : darken($ltYellow, 8%);}
  &.pcn-hpcn, &.hpcn{color : $ltPink;}
  &.pcn-mpcn, &.mpcn{color : $plRed;}
  &.pcn-scpcn, &.scpcn{color : $plBlue;}


  @media #{$small-only}, #{$medium-only}{
    &.setMargin{
      margin-left:0px;
      margin-right:0px;
    }

  }
}

/*****************************************
Err Message / Modal
*****************************************/
#errorModal{
  min-height: 80px;

  .close-reveal-modal{
    color: white;
    margin-top: -29px;
    margin-right: -20px;
  }

  a{
    color:#FBEE67;

    &:hover{
      color:#FFE700;
    }
  }
  @media #{$small-only}{
    .close-reveal-modal{
      top: 21px;
      right: 22px;
    }
  }
 
  @media #{$medium-up}{
    &{
      width: 350px;
    }
  }
}
.errMsg{
  z-index: 1;
  border-radius: 4px;
  opacity: 0.9;
  padding: 2px;
  background-color: #f04124;
  border-color: #de2b0f;
  color: #ffffff;
  font-size: 14px;
  text-align: center;
}


/*****************************************
ngCloak
*****************************************/
[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}