/*****************************************
Colors
*****************************************/
$black      : #222222;
$grey       : #ADADAD;
$green      : #7ACA73; //Bow Valley
$darkGreen  : #4db844;
$blue       : #408dc5;
$darkBlue   : #0067b1;
$red        : #cc0000; 
$lightGrey  : #d2d1d0;

// pcn colors
$violet     : #c582ff; //Foothills
$aqua       : #50e3c2; //Calgary Rural
$ltYellow   : #ffe390; //Calgary West Central
$ltPink     : #f783bf; //Highland
$plRed      : #ff6565; //Mosaic
$plBlue     : #82b6fe; //South Calgary

$pcn-bow        : $green;
$pcn-foothills  : $violet;
$pcn-rural      : $aqua; 
$pcn-west       : $ltYellow;
$pcn-high       : $ltPink;
$pcn-mosaic     : $plRed; 
$pcn-south      : $plBlue;